@theme {
  /* Light theme (default) */
  --color-rtext-primary-900: var(--color-gray-warm-900);
  --color-rtext-primary-on-brand: var(--color-base-white);
  --color-rtext-secondary-700: var(--color-gray-warm-700);
  --color-rtext-secondary-hover: var(--color-gray-warm-800);
  --color-rtext-secondary-on-brand: var(--color-brand-200);
  --color-rtext-tertiary-600: var(--color-gray-warm-600);
  --color-rtext-tertiary-hover: var(--color-gray-warm-700);
  --color-rtext-tertiary-on-brand: var(--color-brand-200);
  --color-rtext-quaternary-500: var(--color-gray-warm-500);
  --color-rtext-quaternary-on-brand: var(--color-brand-300);
  --color-rtext-white: var(--color-base-white);
  --color-rtext-disabled: var(--color-gray-warm-500);
  --color-rtext-placeholder: var(--color-gray-warm-500);
  --color-rtext-placeholder-subtle: var(--color-gray-warm-300);
  --color-rtext-brand-primary-900: var(--color-brand-900);
  --color-rtext-brand-secondary-700: var(--color-brand-700);
  --color-rtext-brand-tertiary-600: var(--color-brand-600);
  --color-rtext-brand-tertiary-alt: var(--color-brand-600);
  --color-rtext-error-primary-600: var(--color-error-700);
  --color-rtext-warning-primary-600: var(--color-warning-700);
  --color-rtext-success-primary-600: var(--color-success-700);

  --color-rborder-primary: var(--color-gray-warm-300);
  --color-rborder-secondary: var(--color-gray-warm-200);
  --color-rborder-tertiary: var(--color-gray-warm-100);
  --color-rborder-disabled: var(--color-gray-warm-300);
  --color-rborder-disabled-subtle: var(--color-gray-warm-200);
  --color-rborder-brand: var(--color-brand-500);
  --color-rborder-warning: var(--color-warning-500);
  --color-rborder-brand-alt: var(--color-brand-600);
  --color-rborder-error: var(--color-error-500);
  --color-rborder-error-subtle: var(--color-error-300);

  --color-rfg-primary-900: var(--color-gray-warm-900);
  --color-rfg-secondary-700: var(--color-gray-warm-700);
  --color-rfg-secondary-hover: var(--color-gray-warm-800);
  --color-rfg-tertiary-600: var(--color-gray-warm-600);
  --color-rfg-tertiary-hover: var(--color-gray-warm-700);
  --color-rfg-quaternary-500: var(--color-gray-warm-500);
  --color-rfg-quaternary-hover: var(--color-gray-warm-600);
  --color-rfg-quinary-400: var(--color-gray-warm-400);
  --color-rfg-quinary-hover: var(--color-gray-warm-500);
  --color-rfg-senary-300: var(--color-gray-warm-300);
  --color-rfg-white: var(--color-base-white);
  --color-rfg-disabled: var(--color-gray-warm-400);
  --color-rfg-disabled-subtle: var(--color-gray-warm-300);
  --color-rfg-brand-primary-600: var(--color-brand-600);
  --color-rfg-brand-primary-alt: var(--color-brand-600);
  --color-rfg-brand-secondary-500: var(--color-brand-500);
  --color-rfg-error-primary: var(--color-error-600);
  --color-rfg-error-secondary: var(--color-error-500);
  --color-rfg-warning-primary: var(--color-warning-600);
  --color-rfg-warning-secondary: var(--color-warning-500);
  --color-rfg-success-primary: var(--color-success-600);
  --color-rfg-success-secondary: var(--color-success-500);

  --color-rbg-primary: var(--color-base-white);
  --color-rbg-primary-alt: var(--color-vanilla-25);
  --color-rbg-primary-hover: var(--color-vanilla-50);
  --color-rbg-primary-solid: var(--color-gray-warm-900);
  --color-rbg-secondary: var(--color-gray-warm-100);
  --color-rbg-secondary-alt: var(--color-gray-warm-100);
  --color-rbg-secondary-hover: var(--color-gray-warm-100);
  --color-rbg-secondary-subtle: var(--color-gray-warm-50);
  --color-rbg-secondary-solid: var(--color-gray-warm-600);
  --color-rbg-tertiary: var(--color-gray-warm-200);
  --color-rbg-quaternary: var(--color-gray-true-100);
  --color-rbg-active: var(--color-vanilla-200);
  --color-rbg-disabled: var(--color-gray-warm-100);
  --color-rbg-disabled-subtle: var(--color-gray-warm-50);
  --color-rbg-overlay: var(--color-gray-warm-950);
  --color-rbg-brand-primary: var(--color-brand-25);
  --color-rbg-brand-primary-alt: var(--color-brand-50);
  --color-rbg-brand-secondary: var(--color-brand-100);
  --color-rbg-brand-solid: var(--color-brand-600);
  --color-rbg-brand-solid-hover: var(--color-brand-700);
  --color-rbg-brand-section: var(--color-brand-800);
  --color-rbg-brand-section-subtle: var(--color-brand-700);
  --color-rbg-error-primary: var(--color-error-50);
  --color-rbg-error-secondary: var(--color-error-100);
  --color-rbg-error-solid: var(--color-error-600);
  --color-rbg-warning-primary: var(--color-warning-50);
  --color-rbg-warning-secondary: var(--color-warning-100);
  --color-rbg-warning-solid: var(--color-warning-600);
  --color-rbg-success-primary: var(--color-success-50);
  --color-rbg-success-secondary: var(--color-success-100);
  --color-rbg-success-solid: var(--color-success-600);

  --color-rbutton-primary-fg: var(--color-base-white);
  --color-rbutton-primary-fg-hover: var(--color-base-white);
  --color-rbutton-primary-bg: var(--color-brand-500);
  --color-rbutton-primary-bg-hover: var(--color-brand-700);

  --color-rbutton-secondary-fg: var(--color-gray-light-700);
  --color-rbutton-secondary-fg-hover: var(--color-gray-light-800);
  --color-rbutton-secondary-bg: var(--color-base-white);
  --color-rbutton-secondary-bg-hover: var(--color-gray-light-50);
  --color-rbutton-secondary-border: var(--color-gray-light-300);
  --color-rbutton-secondary-border-hover: var(--color-gray-light-300);

  --color-rbutton-secondary-color-fg: var(--color-brand-700);
  --color-rbutton-secondary-color-fg-hover: var(--color-brand-800);
  --color-rbutton-secondary-color-bg: var(--color-base-white);
  --color-rbutton-secondary-color-bg-hover: var(--color-brand-50);
  --color-rbutton-secondary-color-border: var(--color-brand-300);
  --color-rbutton-secondary-color-border-hover: var(--color-brand-300);

  --color-rbutton-tertiary-fg: var(--color-gray-light-600);
  --color-rbutton-tertiary-fg-hover: var(--color-gray-light-700);
  --color-rbutton-tertiary-bg-hover: var(--color-gray-light-50);

  --color-rbutton-tertiary-color-fg: var(--color-brand-700);
  --color-rbutton-tertiary-color-fg-hover: var(--color-brand-800);
  --color-rbutton-tertiary-color-bg-hover: var(--color-brand-50);

  --color-rbutton-primary-error-fg: var(--color-base-white);
  --color-rbutton-primary-error-fg-hover: var(--color-base-white);
  --color-rbutton-primary-error-bg: var(--color-error-600);
  --color-rbutton-primary-error-bg-hover: var(--color-error-700);

  --color-rbutton-secondary-error-fg: var(--color-error-700);
  --color-rbutton-secondary-error-fg-hover: var(--color-error-800);
  --color-rbutton-secondary-error-bg: var(--color-base-white);
  --color-rbutton-secondary-error-bg-hover: var(--color-error-50);
  --color-rbutton-secondary-error-border: var(--color-error-300);
  --color-rbutton-secondary-error-border-hover: var(--color-error-300);

  --color-rbutton-tertiary-error-fg: var(--color-error-700);
  --color-rbutton-tertiary-error-fg-hover: var(--color-error-800);
  --color-rbutton-tertiary-error-bg-hover: var(--color-error-50);
  --color-focus-ring: var(--color-brand-500);
  --color-focus-ring-error: var(--color-error-500);

  /* Box Shadows */
  --color-rshadow-xs: rgba(16, 24, 40, 0.05);
  --color-rshadow-sm-01: rgba(16, 24, 40, 0.1);
  --color-rshadow-sm-02: rgba(16, 24, 40, 0.06);
  --color-rshadow-md-01: rgba(16, 24, 40, 0.1);
  --color-rshadow-md-02: rgba(16, 24, 40, 0.06);
  --color-rshadow-lg-01: rgba(16, 24, 40, 0.08);
  --color-rshadow-lg-02: rgba(16, 24, 40, 0.03);
  --color-rshadow-xl-01: rgba(16, 24, 40, 0.08);
  --color-rshadow-xl-02: rgba(16, 24, 40, 0.03);
  --color-rshadow-2xl: rgba(16, 24, 40, 0.18);
  --color-rshadow-3xl: rgba(16, 24, 40, 0.14);
  --color-rshadow-skeumorphic-inner: rgba(16, 24, 40, 0.05);
  --color-rshadow-skeumorphic-inner-border: rgba(16, 24, 40, 0.18);
}
